[Unit]
Description=Updates instance DNS entries in Route53.

[Service]
Type=oneshot
ExecStart=/usr/bin/update-dns-route53 1> /var/log/updatedns 2>&1
ExecStop=/usr/bin/delete-dns-route53 1> /var/log/deletedns 2>&1

[Install]
WantedBy=multi-user.target
